<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <style>
      .wrapper{
        width: 200px;
      }
    </style>
</head>
<body>
  <div class="all d-flex">
    <div class="wrapper bg-light">
      <div class="container-fluid p-0 m-0">
        <div class="inner d-flex flex-column justify-content-between vh-100">
          <nav class="navbar">
            <ul class="navbar-nav px-3">
              <li class="nav-item fs-6 d-flex  align-items-center">
                <img src="https://as1.ftcdn.net/v2/jpg/02/80/33/48/1000_F_280334882_GPLcMi8pEDIJgkNU8kOa64h0DKrNlMrr.jpg" width="26" height="26" alt="img">
                <a class="nav-link" href="/home">Testlar</a>
              </li>
            </ul>
          </nav>
          <form action="/logout" method="post" enctype="application/x-www-form-urlencoded" class="d-flex justify-content-center mb-5">
            <button type="submit" class="nav-link px-3 btn btn-danger p-2"><img src="https://img.icons8.com/ios-glyphs/256/logout-rounded-left.png" alt="logout img " width="24" height="24"> Chqish</button>
          </form>
        </div>
      </div>
    </div>
    <div class="main w-100">
        <div class="main-inner text-center mt-3">
          <h3 class="m-0 p-0">Test#1</h3>
          <p class="w-50 m-auto">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil enim maiores aliquid, veniam dolore aut modi voluptatem sunt rem quaerat repellat praesentium aperiam harum, quo nemo, magni vitae doloremque. Harum repellendus sapiente molestias accusamus porno modi fugiat facere culpa. Adipisci quia similique tempora accusamus voluptatum quaerat eligendi id facere vel, exercitationem delectus reiciendis ullam autem, eaque laudantium rerum minus! Possimus aliquam, quas delectus veniam ea iusto itaque vel ut blanditiis quaerat numquam et dolorum error aspernatur facilis deserunt illum, quia voluptatem omnis dolor vero dicta accusamus. Quam necessitatibus, provident ipsam at neque qui rerum ratione alias quae temporibus accusantium autem obcaecati saepe distinctio id, ea iusto voluptatem a consequuntur! Quis obcaecati natus quam mollitia facilis, sunt corrupti? Animi, numquam ullam.</p>
          <a class="fs-3" href="/subject">Start test</a>
        </div>
      </div>
  </div>
</body>
</html>